@model moment3_mvc_entity.Models.Book

@{
    ViewData["Title"] = "Details";
}


<div class="details-wrapper mt-2">
    <div class="details-box container d-flex ">
        <div class="img-container">
            <img src="~/imgupload/@Model.ImageName" alt="@Html.DisplayFor(model => model.BookId)">
        </div>
        <div class="content-container">
            <h3>@Html.DisplayFor(model => model.Title)</h3>
            <hr>
            <div class="content-info-container px-2 d-flex align-items-center" style="margin:-0.5em 0 -0.9em 0;">
                <a asp-action="BooksByAuthor" asp-controller="Author" asp-route-authorId="@ViewBag.AuthorId">
                    <h6><i class="fa-solid fa-pencil mx-1" style="color:#0e0e0e;"></i><span>@ViewBag.AuthorName </span>
                    </h6>
                </a>
                <p class="mx-3 mt-2">|</p>
                <h6 class="mx-2">@Html.DisplayFor(model => model.Grade)/5 <i class="fa-solid fa-star"
                        style="color:#e3b302;"></i></h6>
                <p class="mx-3 mt-2">|</p>
                <h6>@Html.DisplayFor(model => model.Genre)</h6>
            </div>
            <hr>
            <p>@Html.DisplayFor(model => model.Description)</p>

            <div class="mt-4">
                <a class="details-btn" onclick="history.back();">
                    <i class="fa-solid fa-1x fa-caret-left"></i>&nbsp;Back
                </a>
                <a class="details-btn mx-2" asp-controller="Rental" asp-action="Create" asp-route-Id="@Model.BookId"><i
                        class="fa-solid fa-sm fa-share"></i>&nbsp;Rent book</a>
                <a class="details-btn" onclick="showAvBox()"><i class="fa-solid fa-caret-down"></i>&nbsp;Check availablitly</a>
            </div>

            <div class="av-box mt-5" id="av-box">
                <h6 class="mb-3">Rented out periods:</h6>
                @foreach (var date in ViewBag.RentalDates)
                {
                    <p><i class="fa-regular fa-calendar"></i> Period:<span style="color:red;">
                            @date.RentDate.ToString("dd") @date.RentDate.ToString("MMMM") -
                            @date.ReturnDate.ToString("dd") @date.ReturnDate.ToString("MMMM")</span></p>
                }
                </ul>
            </div>

        </div>
    </div>
</div>



<style>
    #av-box {
        display: none;
    }

    .av-box {
        border-top: 0.5px solid rgb(193, 193, 193);
        padding: 1em 2em 2em 0;
        width: fit-content;
        height: fit-content;
    }
</style>

<script>
    function showAvBox() {
        document.getElementById("av-box").style.display = "block";
    }
</script>