@model IEnumerable<moment3_mvc_entity.Models.Book>

@{
    ViewData["Title"] = "Index";
}


<div class="book-wrapper mt-2">
    <div class="book-box d-flex justify-content-around">
        @foreach (var item in Model.Take(10))
        {
            <a asp-action="Details" asp-route-id="@item.BookId"><img
                    src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)" alt="img @item.BookId"></a>
        }
    </div>

    <div class="book-box d-flex justify-content-around">
        @foreach (var item in Model.TakeLast(10))
        {
            <a asp-action="Details" asp-route-id="@item.BookId"><img
                    src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)" alt="img @item.BookId"></a>
        }
    </div>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div class="text-box" style="margin-top:6em">
        <h1><span style="color:red;">C</span>ollection of all my books</h1>
        <p>Rent a book for free and enjoy reading for it a month</p>
        <button class="btn" onclick="rentabook()"><a asp-action="Rentabook" asp-controller="Home">Rent a
                book</a></button>
        <h2 class="mt-5">My latest books</h2>
    </div>

    <div class="latest-book-box d-flex justify-content-around mt-4">
        @{
            //storing top 5 books by grade in top10books var
            var latestbooks = Model.OrderByDescending(b => b.Created).Take(5);
        }
        @foreach (var item in latestbooks)
        {
            <a asp-action="Details" asp-route-id="@item.BookId"><img
                    src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)" alt="img @item.BookId"></a>
        }
    </div>

    <div class="text-box">
        <h2 class="mt-5">My top 5 books</h2>
    </div>

    <div class="latest-book-box d-flex justify-content-around mt-4">
        @{
            //storing top 5 books by grade in top10books var
            var top5books = Model.OrderByDescending(b => b.Grade).Take(5);
        }
        @foreach (var item in top5books)
        {
            <a asp-action="Details" asp-route-id="@item.BookId"><img
                    src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)" alt="img @item.BookId"></a>
        }
    </div>

</div>


<div class="book-wrapper2 mt-5">

    <div class="text-box2">
        <h2 class="mt-5">My 5 favorite authors</h2>
    </div>

    <div class="author-box d-flex justify-content-around mt-4">
        <div class="author-item">
            <img src="~/images/alex.jpg" alt="img">
            <p>Alex Schulman</p>
        </div>
        <div class="author-item">
            <img src="~/images/majgull.jpg" alt="img">
            <p>Majgul Axelsson</p>
        </div>
        <div class="author-item">
            <img src="~/images/david.jpg" alt="img">
            <p>David Lagercrantz</p>
        </div>
        <div class="author-item">
            <img src="~/images/karin.jpg" alt="img">
            <p>Karin Smirnoff</p>
        </div>
        <div class="author-item">
            <img src="~/images/sigge.jpg" alt="img">
            <p>Sigge Eklund</p>
        </div>

    </div>
</div>




<table class=" table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    <a href="imgupload/@Html.DisplayFor(modelItem => item.ImageName)"
                        target="_blank">@Html.DisplayFor(modelItem => item.ImageName)</a>
                    <img style="width:4em;height:4em;border-radius:50%;"
                        src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>