@model IEnumerable<moment3_mvc_entity.Models.Book>

@{
    ViewData["Title"] = "Index";
}


<div class="book-wrapper mt-2">
    <div class="book-box d-flex justify-content-around">
        @foreach (var item in Model.Take(12))
        {
            <a asp-action="Details" asp-route-id="@item.BookId"><img
                    src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)" alt="img @item.BookId"></a>
        }
    </div>

    <div class="book-box d-flex justify-content-around">
        @foreach (var item in Model.TakeLast(12))
        {
            <a asp-action="Details" asp-route-id="@item.BookId"><img
                    src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)" alt="img @item.BookId"></a>
        }
    </div>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div class="text-box" style="margin:5em 0;">
        <h1><span style="color:red;">C</span>ollection of all my books</h1>
        <p>Rent a book for free and enjoy reading for it a month</p>
        <button class="btn" onclick="rentabook()"><a class="custom-link" asp-action="Create"
                asp-controller="Rental">Rent a
                book</a></button>
    </div>


    <div class="text-box">
        <h2 class="mt-5">My latest books</h2>
    </div>

    <div class="latest-book-box d-flex justify-content-around mt-4">

        @{
            //storing top 5 books by grade in top10books var
            var latestbooks = Model.OrderByDescending(b => b.Created).Take(6);
        }
        @foreach (var item in latestbooks)
        {
            <a asp-action="Details" asp-route-id="@item.BookId"><img
                    src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)" alt="img @item.BookId"></a>
        }
    </div>

    <div class="text-box">
        <h2 class="mt-5">My top books</h2>
    </div>

    <div class="latest-book-box d-flex justify-content-around mt-4">
        @{
            //storing top 5 books by grade in top10books var
            var top6books = Model.OrderByDescending(b => b.Grade).Take(6);
        }
        @foreach (var item in top6books)
        {
            <a asp-action="Details" asp-route-id="@item.BookId"><img
                    src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)" alt="img @item.BookId"></a>
        }
    </div>

</div>


<div class="book-wrapper2 mt-5">

    <div class="text-box2">
        <h2 class="mt-5">My 5 favorite authors</h2>
    </div>

    <div class="author-box d-flex justify-content-around mt-4">
        <div class="author-item">
            <a asp-action="BooksByAuthor" asp-controller="Author" asp-route-authorId="1"><img src="~/images/alex.jpg"
                    alt="img Alex Schulman"></a>
            <p>Alex Schulman</p>
        </div>
        <div class="author-item">
            <a asp-action="BooksByAuthor" asp-controller="Author" asp-route-authorId="13"><img
                    src="~/images/majgull.jpg" alt="img Majgull Axelsson"></a>
            <p>Majgul Axelsson</p>
        </div>
        <div class="author-item">
            <a asp-action="BooksByAuthor" asp-controller="Author" asp-route-authorId="2"><img src="~/images/david.jpg"
                    alt="img David Lagercrantz"></a>
            <p>David Lagercrantz</p>
        </div>
        <div class="author-item">
            <a asp-action="BooksByAuthor" asp-controller="Author" asp-route-authorId="7"><img src="~/images/karin.jpg"
                    alt="img Karin Smirnoff"></a>
            <p>Karin Smirnoff</p>
        </div>
        <div class="author-item">
            <a asp-action="BooksByAuthor" asp-controller="Author" asp-route-authorId="12"><img src="~/images/sigge.jpg"
                    alt="img Sigge Eklund"></a>
            <p>Sigge Eklund</p>
        </div>

    </div>
</div>



@*
<table class=" table">
<thead>
<tr>
<th>
@Html.DisplayNameFor(model => model.Title)
</th>
<th>
@Html.DisplayNameFor(model => model.AuthorName)
</th>
<th>
@Html.DisplayNameFor(model => model.ImageName)
</th>
<th>
@Html.DisplayNameFor(model => model.AuthorId)
</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model)
{
<tr>
<td>
@Html.DisplayFor(modelItem => item.Title)
</td>
<td>
@Html.DisplayFor(modelItem => item.Author)
</td>
<td>
<a href="imgupload/@Html.DisplayFor(modelItem => item.ImageName)"
target="_blank">@Html.DisplayFor(modelItem => item.ImageName)</a>
<img style="width:4em;height:4em;border-radius:50%;"
src="imgupload/@Html.DisplayFor(modelItem => item.ImageName)">
</td>
<td>
@Html.DisplayFor(modelItem => item.Author.AuthorId)
</td>
<td>
<a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
<a asp-action="Details" asp-route-id="@item.BookId" asp-route-AuthorId="@item.AuthorId">Details</a> |
<a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
</td>
</tr>
}
</tbody>
</table> *@



<style>
    .custom-link {
        color: inherit;
        text-decoration: none;
    }
      .custom-link:hover {
        color: inherit;
        text-decoration: none;
    }
</style>